.idea/
venv/
.vscode/
__pycache__/
~$*
*.csv
!entities.csv
!models.csv
*.xlsx
.~lock*
nornir.log*
*-output.txt
*backups/
*outputs/
.global.ini
nornir-scripts/inventory/hosts.yaml
nornir-scripts/templates/huawei/final.j2
nornir-scripts/templates/ios/final.j2
*inventory/hosts.yaml
*inventory.csv.backup
*inventory/hosts.yaml.backup
*templates/ios/final.j2
*templates/huawei/final.j2
*templates/nxos/final.j2
*templates/asa/final.j2
/.vs
*new_fw_context.py
*script_basico.py
/ping_net/*.txt
/ping_net/output/
/snmp_query/*.txt
/snmp_query/output/
*final.j2
*inventory.csv_*
nornir3/inventory/hosts.yaml
