backcall==0.2.0
decorator==4.4.2
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
ply==3.11
prompt-toolkit==3.0.6
ptyprocess==0.6.0
pyasn1==0.4.8
pycryptodomex==3.9.8
Pygments==2.6.1
pysmi==0.3.4
pysnmp==4.4.12
six==1.15.0
traitlets==4.3.3
wcwidth==0.2.5
